@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";


@theme{
    --font-myfont : Plus Jakarta Sans,sans-serif;
    --color-primary-color : #060237;
    --color-second-color : #d3c3f8;
    --color-button-bgcolor : #9590e4;
    --color-cards-bgcolor : #f6f3ff
}


@layer utilities {
  @keyframes slideLoop {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-slideLooplg {
    animation: slideLoop 8s linear infinite;
  }
}


