@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";


@theme{
    --font-myfont : Plus Jakarta Sans,sans-serif
}


@layer utilities {
  @keyframes slideLoop {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-slideLoop {
    animation: slideLoop 12s linear infinite;
  }
}